<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.threatscope.sensor</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON_PATH__</string>
    <string>__PROJECT_ROOT__/engine/sensor.py</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__PROJECT_ROOT__/engine</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PYTHONUNBUFFERED</key>
    <string>1</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/var/log/threatscope-sensor.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/threatscope-sensor-error.log</string>
</dict>
</plist>
